<div class="jumbotron">
  <div class="container">
  </div>
</div>
<div class="container">
  <ul class="nav nav-tabs">
    {{#active-li currentWhen='help-ua.index' role='presentation'}}
      {{#link-to 'help-ua.index'}}Claymore (Stratum){{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='help-ua.getwork' role='presentation'}}
      {{#link-to 'help-ua.getwork'}}Ethminer (http){{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='help-ua.nice' role='presentation'}}
      {{#link-to 'help-ua.nice'}}Nicehash{{/link-to}}
    {{/active-li}}
  </ul>
  {{outlet}}
</div>
